<%- include("components/header.ejs") -%>

<form>
<h1> Thanks for contact<br></h1>
<p>you contacted as <b><%- info.whom%></b> and email is <b><%- info.email%></b> <br></p>
<p>Title<br><b><%- info.title %></b><br></p>
<p>Message Text<br> <b><%- info.message %></b><br></p>


</form>


<%- include("components/footer.ejs") -%>